body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  background-color: #22293B;
  box-shadow: none;
}
.navbar-brand {
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav-item a {
  font-size: 14px;
}
main {
  flex-grow: 1;
}


#homepage {
  background-image: url(../img/bg-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
#equipment {
  color: #fff;
  background: #455274;
}
.grad {
  background: linear-gradient(90deg, #6CA9D6 0%, rgba(34, 41, 59, 0) 100%);
  margin-top: 55px;
  font-size: 18px;
  padding-bottom: 5px;
}
.grad p {
  margin-top: 29px;
  margin-bottom: 7px;
}
.grad ul li{
  line-height: 33px;
}




h1 {
  font-size: 62px;
  margin-top: 70px;
}
h2 {
  margin-top: 13px;
  font-size: 28px;
  position: relative;
  z-index: 10;
}
h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
h2::before {
  content: "";
  width: 470px;
  height: 61px;
  position: absolute;
  background-image: url(../img/svg/h2.svg);
  top: -13px;
  left: 0;
  z-index: -1;
}


footer {
  flex-shrink: 0;
  background-color: #22293B;
}
#equipment a {
  cursor: pointer;
}
#equipment a img {
  border: 3px solid #6CA9D6;
  box-sizing: border-box;
  min-width: auto;
  min-height: auto;
  height: 100%;
}
#equipment a .img-wrapper {
  width: 200px;
  height: 204px;
}
#equipment a .img-wrapper .tabl {
  width: 170px;
  height: 100px;
  background-color: #fff;
  top: 70%;
  left: 100px;
  position: absolute;
  z-index: 10;
  color: #000;
}
#equipment a .img-wrapper .tabl p {
  margin-top: 9px;
  margin-left: 5px;
  font-size: 16px;
}

#partners {
  background-image: url(../img/partners-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  color: #22293B;
}
#partners h2 {
  margin-bottom: 40px;
}
#partners .row p::before {
  content: "";
  width: 2px;
  height: 70px;
  background-color: #22293B;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#partners .row p {
  padding-left: 30px;
  position: relative;
}
#partners .row {
    margin-bottom: 80px!important;
  }
.drk h2 {
  color: #fff;
}
.drk h2::before {
  background-image: url(../img/svg/h2-b.svg);
}
body {
  background-color: #E5E5E5;
}
#customer h2, #contact h2 {
  color: #555555;
}
#customer p {
  font-size: 18px;
  color: #22293B;
}
#customer .row img {
  vertical-align: middle;
}
/* #partners {
  background-image: url(../img/partners-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right; */
#contact {
  background-image: url(../img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#contact p {
  font-size: 18px;
  color: #22293B;
}
#contact .sr {
  font-size: 16px;
}
#contact .tel {
  font-size: 24px;
  line-height: 24px;
}
#contact a {
  color: #22293B;
}
#contact .txtsm {
  font-size: 14px;
}
#form {
  margin-bottom: 80px;
}
#form ::placeholder {
  color: #D7D7D7;
  font-size: 16px;
}
#form textarea {
  border: none;
}
#form input {
  height: 45px;
  border: none;
}
#form textarea:focus, #form input:focus {
    box-shadow: none;
}
#form button {
  background-color: #22293B;
  width: 270px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
#docs .zapros {
  font-size: 28px;
  color: #fff;
}
#form2 a {
  background-color: #fff;
  padding: 15px 30px 15px 30px;
  color: #22293B;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
#form2 a:hover {
  text-decoration: underline;
}
#docs hr {
  background-color: #89b9de;
}
.fz28 {
  font-size: 28px;
}
#docs .gramots {
   flex-wrap: wrap;
}
#docs {
  background-image: url(../img/docs-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  padding-bottom: 175px;
}
#docs .item  {
  flex-wrap: wrap;
 }

#docs .item p {
  margin-bottom: 0;
  margin-top: 10px;
 }
 #docs .item p:hover {
  text-decoration: underline;
 }
 .nowrp {
   white-space: nowrap;
 }
 #compress {
   background-color: #455274;
 }
 #compress a {
   cursor: pointer;
 }
 #compress .img-wrapper p {
   color: #22293B;
   padding-top: 16px;
   padding-bottom: 16px;
   width: 100%;
   background-color: #fff;
 }
@media (max-width: 1199px) {
  #equipment a .img-wrapper .tabl {
    width: 150px;
    height: 90px;
    top: 80%;
    left: 75px;
  }
  #equipment a .img-wrapper .tabl p {
    margin-top: 12px;
    margin-left: 1px;
    font-size: 14px;
}
  #partners .row {
    margin-bottom: 50px!important;
  }
}
@media (max-width: 991px) {
  h1 {
    margin-top: 20px;
  }
  #partners .row {
    margin-bottom: 35px!important;
  }
  #docs .gramots {
   flex-wrap: wrap;
   justify-content: center;
  }
  #docs {
    padding-bottom: 100px;
  }
  #compress a p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 18px;
  }
  .grad {
    font-size: 14px;
    margin-bottom: 0;
  }
  #equipment a .img-wrapper .tabl {
    width: 150px;
    height: 90px;
    top: 70%;
    left: 100px;
  }
  h2 {
    font-size: 22px;
  }
  h2::before {
  background-image: url(../img/svg/h3.svg);
  top: -8px;
  left: 0px;
  width: 320px;
  height: 41px;
  }
  #compress h2::before {
  background-image: url(../img/svg/h3-compr.svg);
  top: -8px;
  left: 0px;
  width: 385px;
  height: 41px;
  }
  .drk h2::before {
    background-image: url(../img/svg/h3-b.svg);
  }
  #partners p {
    font-size: 14px;
  }
  #partners .row p {
    text-align: center;
  }
  
  #partners .row p::before {
    width: 150px;
    height: 2px;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
  }
  #partners .row img {
    margin-bottom: 25px!important;
  }
  #customer p {
    font-size: 15px;
  }
  #form {
  margin-bottom: 0;
  }
  #form button {
    width: 270px;
    height: 50px;
    font-size: 16px;
    margin: 0 auto;
  }
  #contact .ppl p {
    margin-left: 0!important;
    padding-left: 0!important;
  }
  #contact p {
    font-size: 16px;
  }
  #docs .zapros {
    font-size: 20px;
  }
  #form2 a {
    padding: 13px 25px 13px 25px;
  }
  .fz28 {
    font-size: 24px;
  }
  #docs .item p {
    font-size: 14px;
  }
  #docs .item img {
    font-size: 14px;
    width: 80px;
  }
  #compress .img-wrapper p {
   padding-top: 16px;
   padding-bottom: 16px;
   width: 73%;
  }
  #compress .p-top {
    font-size: 15px;
  }
  
}
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  h3 {
    font-size: 16px;
  }
  #equipment a .img-wrapper .tabl {
    width: 150px;
    height: 90px;
    position: relative;
    margin-top: -200px;
    margin-left: -15px;
  }
  h2::before {
    background-image: url(../img/svg/h4.svg);
    top: -8px;
    left: 0px;
    width: 250px;
    height: 41px;
  }
  .drk h2::before {
    background-image: url(../img/svg/h4-b.svg);
  }
  #docs .wrap {
    flex-direction: column!important;
  }
  #docs .item {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  #compress h2 {
    font-size: 18px;
  }
  #compress h2::before {
    background-image: url(../img/svg/h4-compr.svg);
    top: -10px;
    left: 0px;
    width: 290px;
    height: 41px;
  }
}



