body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navbar {
  background-color: #22293B;
  box-shadow: none;
}
.navbar-brand {
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav-item a {
  font-size: 14px;
}
main {
  flex-grow: 1;
}
#homepage {
  background-image: url(../img/bg-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
#equipment {
  color: #fff;
  background: #455274;
}
.grad {
  background: linear-gradient(90deg, #6CA9D6 0%, rgba(34, 41, 59, 0) 100%);
  margin-top: 55px;
  font-size: 18px;
  padding-bottom: 5px;
}
.grad p {
  margin-top: 29px;
  margin-bottom: 7px;
}
.grad ul li{
  line-height: 33px;
}
h1 {
  font-size: 62px;
  margin-top: 70px;
}
h2 {
  margin-top: 13px;
  font-size: 28px;
  position: relative;
}
h3 {
  font-size: 24px;
  margin-bottom: 15px;
}
h2::before {
  content: "";
  width: 470px;
  height: 61px;
  position: absolute;
  background-image: url(../img/svg/h2.svg);
  top: -13px;
  left: 0;
}
footer {
  flex-shrink: 0;
  background-color: #22293B;
}
@media (max-width: 767px) {
  h1 {
    font-size: 48px;
    margin-top: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .grad {
    font-size: 14px;
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
    margin-top: 0;
  }
  h3 {
    font-size: 16px;
  }
}



